<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>ProEra</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" integrity="sha512-TfnGOYsHIBHwx3Yg6u6jCWhqz79osu5accjEmw8KYID9zfWChaGyjDCmJIdy9fJjpvl9zXxZamkLam0kc5p/YQ==" crossorigin="anonymous" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="~/Content/era.png">
    
</head> 
<body class="hold-transition sidebar-mini" style="margin-top: 0px">
    <div class="wrapper">

        <!--<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="width:20">-->
            <!-- Left navbar links -->
            <!--<ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

        </nav>-->

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/Content/era.png" alt="Era Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Pro Era</span>
            </a>

            @*@Html.ActionLink("Pro ERA", "Index", "Home", new { area = "" }, new { @class = "nav-link" })*@

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        @*@if (Roles.IsUserInRole("Proera_COM")(!UserManager.IsInRole(User.Identity.GetUserId(), "User.Test")))
        {*@


                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Gestion Clients
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    @Html.ActionLink("Recherche Client", "", "clients/", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>


                                <li class="nav-item">
                                    @Html.ActionLink("Creation Domestique", "", "clients/createdomestique", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Creation Productif", "", "clients/createproductif", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Liste Clients en Attente", "", "clients/rechercheEnAttente", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Mise En Vigueur", "", "clients/mettreenvigueur", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Mise En Service", "", "clients/mettreEnService", new { area = "" }, new { @class = "nav-link" })
                                </li>


                                <li class="nav-item">
                                    @Html.ActionLink("Mise En Service Non Racc", "", "clients/mettreEnServiceNonRac", new { area = "" }, new { @class = "nav-link" })
                                </li>

                            </ul>
                        </li>
                        @*}*@



                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-money-bill-alt"></i>
                                <p>
                                    Recouvrements
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Ouverture Periode", "", "recouvrements/ouvrirperioderecouvrement", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Cloture Periode", "", "recouvrements/cloturer", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Bon de Coupure", "", "clients/bondecoupure", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-money-bill-alt"></i>
                                <p>
                                    Rapports
                                    <i class="right fas fa-angle-left"></i>
                                </p> 
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="ancJPE" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/PagesReportViewer.aspx?%2fJPE&rs:Command=Render" class="nav-link nav-dark">JPE</a>
                                </li>
                                <li class="nav-item">
                                    <a id="ancErreurJPE" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fErreurJPE&rs:Command=Render" class="nav-link nav-dark">Erreur JPE</a>
                                </li>
                                <li class="nav-item">
                                    <a id="ancFactIndiv" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2ffactureindiv&rs:Command=Render" class="nav-link nav-dark">Factures Indiv</a>
                                </li>


                                <li class="nav-item">
                                    <a id="raccCom" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fRaccordementReportCOM&rs:Command=Render" class="nav-link nav-dark">Raccord Com</a>
                                </li>

                                <li class="nav-item">
                                    <a id="raccTech" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fRaccordementReport&rs:Command=Render" class="nav-link nav-dark">Raccord Tech</a>
                                </li>


                                <li class="nav-item">
                                    <a id="clientsBord" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fClientsParBordereau&rs:Command=Render" class="nav-link nav-dark">Clients par Bordereau</a>
                                </li>

                                <li class="nav-item">
                                    <a id="rapportReleves" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fRapportReleves&rs:Command=Render" class="nav-link nav-dark">Rapport Releves</a>
                                </li>

                                <li class="nav-item">
                                    <a id="rapportEnc" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fEncaissements&rs:Command=Render" class="nav-link nav-dark">Rapport Encaissements</a>
                                </li>
                                <li class="nav-item">
                                    <a id="rapportReleves2" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fRapportReleves2&rs:Command=Render" class="nav-link nav-dark">Releves par Periode</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportenattente" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fEnAttente&rs:Command=Render" class="nav-link nav-dark">Clients en Attente</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportclientsacouper" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fClientsACouper&rs:Command=Render" class="nav-link nav-dark">Clients a Couper</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportcorrections" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fReportCorrections&rs:Command=Render" class="nav-link nav-dark">Correction Soldes</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportbvbyperiode" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fBVByPeriode&rs:Command=Render" class="nav-link nav-dark">Bordereaux par Periode</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportresiliations" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fResiliations&rs:Command=Render" class="nav-link nav-dark">Resiliations</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportbvpasenvigueur" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fbvpasenvigueur&rs:Command=Render" class="nav-link nav-dark">BV pas en vigueur</a>
                                </li>


                                <li class="nav-item">
                                    <a id="rapportclientnumcompteur" target="_blank" href="http://NODEC-WINSERV1:8081/ReportServer/Pages/ReportViewer.aspx?%2fClientsNumCompteur&rs:Command=Render" class="nav-link nav-dark">BV pas en vigueur</a>
                                </li>
                                <li class="nav-item">
                                    <a id="rapportreclamations" target="_blank" href="http://nodec-winserv1:8081/ReportServer/Pages/ReportViewer.aspx?%2freclamations&rs:Command=Render" class="nav-link nav-dark">Reclamations</a>
                                </li>

                                

                            </ul>
                        </li>





                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice"></i>
                                <p>
                                    Facturation
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Facturation", "", "facturationtriggers/facturer", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>




                                <li class="nav-item">
                                    @Html.ActionLink("Correction Facture", "", "factures/corriger", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                            </ul>
                        </li>


                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-money-bill-wave"></i>
                                <p>
                                    Encaissements
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Bordereau d'encaissement", "", "bordereaux/create", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Liste Bordereaux DAF", "", "bordereaux/bordereauxdaf", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Liste Bordereaux Caisse", "", "bordereaux/bordereauxcaisse", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Caisse", "", "encaissements/create", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>


                                <li class="nav-item">
                                    @Html.ActionLink("Caisse Sans Restrict", "", "encaissements/encaissersansrestrict", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Arreté de Caisse", "", "encaissements/arretercaisse", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                @*<li class="nav-item">
                    @Html.ActionLink("Corriger Encaissement", "", "encaissements/index", new { area = "" }, new { @class = "nav-link nav-dark" })
                </li>*@

                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-taxi"></i>
                                <p>
                                    SAV
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Couper Client", "", "clients/couper", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Retablir Client", "", "clients/retablir", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Changer Interface", "", "clients/changerinterface", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Reclamation", "", "reclamations1/create", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Liste Reclamations", "", "reclamations1/index", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Resiliation", "", "resiliations/create", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>


                                <li class="nav-item">
                                    @Html.ActionLink("Changer Mode Facturation", "", "clients/changermodefact", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                

                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-stopwatch-20"></i>
                                <p>
                                    Getion Compteurs
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Importer Compteurs", "", "compteurs/create", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Liste Compteur Dispo", "", "compteurs/listedisponibles", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Rechercher Compteur", "", "compteurs/index", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>

                            </ul>
                        </li>



                        @*<li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-money-bill-alt"></i>
                <p>
                    JPE
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    @Html.ActionLink("Clients a Couper", "", "recouvrements/ouvrirperioderecouvrement", new { area = "" }, new { @class = "nav-link nav-dark" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Clients a Retablir", "", "clients/rechercheEnAttente", new { area = "" }, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Clients Coupes", "", "recouvrements/cloturer", new { area = "" }, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Clients Retablis", "", "recouvrements/cloturer", new { area = "" }, new { @class = "nav-link" })
                </li>

            </ul>
        </li>*@



                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-money-bill-alt"></i>
                                <p>
                                    Tableaux de Bord
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Tab Commercial", "", "home/tabCommercial", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>



                            </ul>
                        </li>


                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-money-bill-alt"></i>
                                <p>
                                    Correction Solde
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @Html.ActionLink("Correction", "", "correctionsoldes/create", new { area = "" }, new { @class = "nav-link nav-dark" })
                                </li>



                            </ul>
                        </li>



                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-search"></i>
                                <p>
                                    Gestion Localités
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    @Html.ActionLink("Villages", "", "villages/", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Creer Village", "", "villages/create/", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Update Villages", "", "villages/Edit2", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Programmes", "", "programmes/liste", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Attribuer Programmes", "", "programmes", new { area = "" }, new { @class = "nav-link" })
                                </li>

                                @*<li class="nav-item">
                                    @Html.ActionLink("Mises en Service Villages", "", "misenservicevillages/", new { area = "" }, new { @class = "nav-link" })
                                </li>*@


                                <li class="nav-item">
                                    @Html.ActionLink("Mettre en Service Village", "", "misenservicevillages/create", new { area = "" }, new { @class = "nav-link" })
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Sig Era
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">


                                <li class="nav-item">
                                    <a id="rapportsigera" target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiOTAwY2E3N2ItZjkwNy00OTRkLWJkZjctY2QwNzkxYmMxMzAyIiwidCI6IjZhOGE4YmU3LTkwMmQtNDliMC1iNzZjLTc4MTBmYzYwMzE0YiIsImMiOjh9" class="nav-link nav-dark">Tab Sig Era</a>
                                </li>

                                <li class="nav-item">
                                    <a id="rapportsigerav2" target="_blank" href="https://erasenegal.maps.arcgis.com/apps/webappviewer/index.html?id=bfb6dccc7d374738933a65307846d82a" class="nav-link nav-dark">Tab Sig Era V2</a>
                                </li>


                            </ul>
                        </li>




                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">

                <div class="container renderbody" id="" style="width: 85%;">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - ERA Senegal</p>
                    </footer>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->

    </div>


    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/js/adminlte.min.js" integrity="sha512-++c7zGcm18AhH83pOIETVReg0dr1Yn8XTRw+0bWSIWAVCAwz1s2PwnSj4z/OOyKlwSXc4RLg3nnjR22q0dhEyA==" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>


    @*<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.SPServices/2014.02/jquery.SPServices-2014.02.min.js"></script>
    *@
    <script type="text/javascript">
        @* var thisUserAccount = $().SPServices.SPGetCurrentUser({
            fieldName: "Title",
            debug: false
        });*@

        //alert(window.location.hostname)

        var thisSite = window.location.hostname;
@*        var link = "rien";
        var pagesite = "mserv.aspx?refclient=11001021"*@
        if (thisSite == "proera") {
            //link = "http://192.168.1.28/";
            //alert("Pro ERA")
            //document.getElementById("ancJPE").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fJPE&rs:Command=Render")
        } else {
            //link = "http://reporting.erasenegal.com:8081/";
            document.getElementById("ancJPE").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fJPE&rs:Command=Render")
            document.getElementById("ancErreurJPE").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fErreurJPE&rs:Command=Render")
            document.getElementById("ancFactIndiv").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2ffactureindiv&rs:Command=Render")
            document.getElementById("raccTech").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fRaccordementReport&rs:Command=Render")
            document.getElementById("raccCom").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fRaccordementReportCOM&rs:Command=Render")
            document.getElementById("clientsBord").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fClientsParBordereau&rs:Command=Render")
            document.getElementById("rapportReleves").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fRapportReleves&rs:Command=Render")
            document.getElementById("rapportEnc").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fEncaissements&rs:Command=Render")
            document.getElementById("rapportReleves2").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fRapportReleves2&rs:Command=Render")
            document.getElementById("rapportenattente").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fEnAttente&rs:Command=Render")
            document.getElementById("rapportclientsacouper").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fClientsACouper&rs:Command=Render")
            document.getElementById("rapportbvbyperiode").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fBVByPeriode&rs:Command=Render")
            document.getElementById("rapportresiliations").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fResiliations&rs:Command=Render")
            document.getElementById("rapportbvpasenvigueur").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fbvpasenvigueur&rs:Command=Render")
            document.getElementById("rapportclientnumcompteur").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2fClientsNumCompteur&rs:Command=Render")
            document.getElementById("rapportreclamations").setAttribute("href", "http://reporting.erasenegal.com:8081/ReportServer/Pages/ReportViewer.aspx?%2freclamations&rs:Command=Render")

            
        }
        //document.write("<iframe src='" + link + pagesite + "' width=100% height=100%></iframe>");

//document.write("<H1>"+ thisUserAccount +"</H1>");
//document.write("<H2>"+ link + pagesite +"</H2>");
    </script>

</body>
</html>

