@model IEnumerable<proera.MisEnServiceVillages>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.REGION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEPARTEMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMMUNE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VILLAGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datemiseenservice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etat_travaux)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapaciteTransformateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuissanceDHP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreSupport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineaireBT)
            </th>
            <th>
                Code Village
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.REGION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPARTEMENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COMMUNE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VILLAGE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datemiseenservice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etat_travaux)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapaciteTransformateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuissanceDHP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreSupport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineaireBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.villages.code_village)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_SERVICE }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_SERVICE }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_SERVICE })
                </td>
            </tr>
        }
    </tbody>

</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        $('#table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
            }
        });
    });
</script>