@model IEnumerable<proera.villages>

@{
    ViewBag.Title = "Index";
}

<table class="table" id="tablebody">
    <thead>
        <tr>
            <th>
                REGION
            </th>
            <th>
                DEPARTEMENT
            </th>
            <th>
                COMMUNE
            </th>
            <th>
                VILLAGE
            </th>

            <th>
                CODE
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.communes.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.village)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_village)
            </td>
            <td>
                <a href="" ><button class="btn btn-sm btn-default">Modifier</button></a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.code_village }) |*@
            </td>
            <td>
                <a href=""><button class="btn btn-sm btn-success">Detail</button></a>
                @*@Html.ActionLink("Details", "Details", new { id = item.code_village }) |*@
            </td>
            <td>
                <a href=""><button class="btn btn-sm btn-primary">M.E.S</button></a>
                @*@Html.ActionLink("Mettre en Service", "mettreenservice2", new { action = "mettreenservice2", Controller = "misenservicevillages", id = item.code_village })*@
            </td>
        </tr>
    }
        </tbody>

</table>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        $('#tablebody').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
            }
        });
    });
</script>