@model proera.clients

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Details Client</h2>

<div>
    <hr />
    <dl class="container">

        <div class="row">

            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><div class="">
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom1)
        </dd>
</div>
</li>
<li class="list-group-item">
    <div class="">
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
    </div>
</li>
<li class="list-group-item">
    <div class="">
        <dt>
            Telephone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
    </div>
</li>
<li class="list-group-item">
    <div class="">

        <dt>
            Raison Sociale
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raison_Social)
        </dd>
    </div>
</li>
<li class="list-group-item">
    <div class="">
        <dt>
            Date Abonnement
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Abonnement)
        </dd>
    </div>
</li>
<li class="list-group-item">
    <div class="">
        <dt>
            Village
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Village)
        </dd>
    </div>
</li>


<li class="list-group-item">
    <div class="">
        <dt>
            Etat Client
        </dt>

        <dd>
            @ViewBag.etatclient
        </dd>
    </div>
</li>


<li class="list-group-item">
    <div class="">
        <dt>
            Contrant
        </dt>

        <dd>
            @ViewBag.contrat
        </dd>
    </div>
</li>


</ul>
</div>

<div class="col-md-6">
    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <div class="">

                <dt>
                    Montant Encaissé
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Montant_Encaisse)
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">
                <dt>
                    Date Mise en Service
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date_Mise_en_Service)
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">

                <dt>
                    Date Resiliation
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date_Resiliation)
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">
                <dt>
                    Solde Total
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoldeTotal)
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">
                <dt>
                    Date Mise en Service
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dateMeS)
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">

                <dt>
                    Niveau de Puissance
                </dt>

                <dd>
                    @ViewBag.nivpui
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">

                <dt>
                    Activite
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.activite)
                </dd>
            </div>
        </li>
        <li class="list-group-item">
            <div class="">
                <dt>
                    Reference Client
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reference_Contrat)
                </dd>
            </div>
        </li>
    </ul>
</div>


        </div>

</div>
<p>

    <h5>a restreindre apres creation des utilisateurs</h5>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reference_Contrat }) |

    @if (Model.Etat_Client == 1)
    {
    @Html.ActionLink("Migrer", "MigrerClient", new { id = Model.Reference_Contrat })
    }
    @Html.ActionLink("Retour", "Index")
    <br />
    @*@if (Model.Etat_Client != 1)
        {
            <a onclick="return confirm('Attention!! Voulez-vous vraiment le mettre en service?')" href='@Url.Action("MettreEnService/"+Model.Reference_Contrat, "Clients")'>
                <button class="btn btn-success">Mettre en Service</button>
            </a>
        }
        @if (Model.Etat_Client != 2)
        {
            <a onclick="return confirm('Attention!! Voulez-vous vraiment le mettre en panne?')" href='@Url.Action("MettreEnPanne/"+Model.Reference_Contrat, "Clients")'>
                <button class="btn btn-warning">Mettre en Panne</button>
            </a>
        }
        @if (Model.Etat_Client != 3)
        {
            <a onclick="return confirm('Attention!! Voulez-vous vraiment resilier le contrat?')" href='@Url.Action("ResilierContrat/"+Model.Reference_Contrat, "Clients")'>
                <button class="btn btn-danger">Resilier Contrat</button>
            </a>
        }
        @if (Model.Etat_Client != 4)
        {
            <a onclick="return confirm('Attention!! Voulez-vous vraiment le couper?')" href='@Url.Action("CouperClient/"+Model.Reference_Contrat, "Clients")'>
                <button class="btn btn-primary">Couper Client</button>
            </a>
        }
        @if (Model.Etat_Client != 5)
        {
            <a onclick="return confirm('Attention!! Voulez-vous vraiment le mettre en attente?')" href='@Url.Action("MettreEnAttente/"+Model.Reference_Contrat, "Clients")'>
                <button class="btn btn-secondary">Mettre En Attente</button>
            </a>
        }*@

</p>