@model IEnumerable<proera.reclamation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priorite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivintervention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.Nom1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typereclamation.type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priorite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivintervention)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clients.Nom1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typereclamation.type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
