@model proera.departements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>departements</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regions.nom_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regions.nom_region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.code_departement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
