@model IEnumerable<proera.releves>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tablebody" class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ancien_index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nouvel_index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consommation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_de_relève)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.periode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prevbill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nivpuissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbreJour)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ancien_index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nouvel_index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.consommation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_de_relève)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.periode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prevbill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivpuissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nbreJour)
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

    

</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        $('#tablebody').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
            }
        });
    });
</script>
