@model IEnumerable<proera.SAV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REFERENCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRENOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VILLAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OLDETAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NEWETAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARQUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERIODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodedue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.REFERENCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRENOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VILLAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OLDETAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NEWETAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARQUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodedue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
