@model proera.recouvrements

@{
    ViewBag.Title = "Ouverture Periode";
}


<div class="row">
    <iframe width="100%" height="500"
            src="http://nodec-winserv1:81/releves/relever"
            frameborder="0" allowFullScreen="true" target="_blank"></iframe>
</div>

@*<h2>Create</h2>




    @using (Html.BeginForm("ouvrirperiode", "recouvrements", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="form-horizontal">
        <h4>recouvrements</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.opendate, "Date Ouverture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" id="opendate" required name="opendate" class="form-control" />
            </div>
        </div>*@

@*<div class="form-group">
        @Html.LabelFor(model => model.closedate, "Date Fermeture", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" id="closedate" name="closedate" class="form-control" />
            @Html.ValidationMessageFor(model => model.closedate, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.LabelFor(model => model.periode, "Periode", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.periode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.periode, "", new { @class = "text-danger" })
            <div id="erreurperiode" hidden class="alert alert-danger alert-dismissible fade show" role="alert">
                Attention cette periode existe deja dans la base si vous enregistrez cela ne passera pas! Cependant si c'est sur cette periode que vous voulez faire la releve vous pouvez laisser comme cela.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>*@


@*<div class="form-group">
        @Html.LabelFor(model => model.montantRecouvre, "Montant Recouvré", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.montantRecouvre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.montantRecouvre, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.LabelFor(model => model.nbrFactures, "Nombre de Factures", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nbrFactures, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nbrFactures, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nbrFacturesPayees, "Nombre Factures Payees", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nbrFacturesPayees, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nbrFacturesPayees, "", new { @class = "text-danger" })
        </div>
    </div>*@


@*<div class="form-group">
            <label class="control-label col">Fichier CSV des Releves</label>
            <div class="col-md-10">
                <input type="file" name="file" id="file" accept=".csv" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitform" value="Create" class="btn btn-outline-success" />
            </div>
        </div>


        <div id="spinners" hidden>
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
        </div>



    </div>
    }

    <a href="@Url.Content("~/App_Data/exportrecouv.csv")">Telecharger le Model</a>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#periode").change(function () {

                data = {
                    periode: $("#periode").val()
                }



                $.ajax({
                    type: "POST",
                    url: "/recouvrements/changementperiode",
                    data: data,
                    success: function (data) {
                        if (data == "existe") {
                            $("#erreurperiode").removeAttr("hidden")
                            $("#periode").addClass("text-danger")
                        } else {
                            $("#periode").removeClass("text-danger")
                            $("#erreurperiode").attr("hidden", true)
                        }
                    },
                    error: function () {
                    }
                });
            });

            $("#submitform").click(function () {
                $("#spinners").attr("hidden", false)
            })

        });

    </script>*@
